.alert-container {
    width: 95%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.75rem 1rem;
    border-radius: 10px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: opacity 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.alert-error {
    background-color: rgb(232, 110, 110);
    border: 2px solid rgb(194, 84, 86);
}
.alert-success {
    background-color: rgb(146, 159, 44);
    border: 2px solid rgb(108, 150, 59);
}
.cancel-btn:hover {
    color: #F0F0F0;
    cursor: pointer;
}